## Preprocessing

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df.drop(columns = ["EIN"], inplace = True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME value counts for binning
counts = application_df.NAME.value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [8]:
# Choose a cutoff value and create a list of NAMES to be replaced

application_types_to_replace = list(counts[counts < 6].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filter_class_count = class_count[class_count>1]
filter_class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 50].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

<ipython-input-13-fabd64654600>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 5
#hidden_nodes_layer4 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 7)                 1995

 dense_5 (Dense)             (None, 6)                 48

 dense_6 (Dense)             (None, 5)                 35

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 2,084
Trainable params: 2,084
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=125)

Epoch 1/125
804/804 [==============================] - 5s 6ms/step - loss: 0.4752 - accuracy: 0.7797
Epoch 2/125
804/804 [==============================] - 3s 4ms/step - loss: 0.4667 - accuracy: 0.7815
Epoch 3/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4618 - accuracy: 0.7813
Epoch 4/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4593 - accuracy: 0.7832
Epoch 5/125
804/804 [==============================] - 1s 2ms/step - loss: 0.4564 - accuracy: 0.7851
Epoch 6/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4543 - accuracy: 0.7841
Epoch 7/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4532 - accuracy: 0.7844
Epoch 8/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4518 - accuracy: 0.7851
Epoch 9/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4508 - accuracy: 0.7849
Epoch 10/125
804/804 [==============================] - 1s 2ms/step - loss: 0.4496 - accuracy: 0.7849
Epoch 11/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4491 - accuracy: 0.7849
Epoch 12/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4484 - accuracy: 0.7863
Epoch 13/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4472 - accuracy: 0.7854
Epoch 14/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4462 - accuracy: 0.7864
Epoch 15/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4449 - accuracy: 0.7863
Epoch 16/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4441 - accuracy: 0.7880
Epoch 17/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7868
Epoch 18/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4415 - accuracy: 0.7874
Epoch 19/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4407 - accuracy: 0.7883
Epoch 20/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4405 - accuracy: 0.7878
Epoch 21/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4396 - accuracy: 0.7893
Epoch 22/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4396 - accuracy: 0.7879
Epoch 23/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4385 - accuracy: 0.7883
Epoch 24/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4381 - accuracy: 0.7892
Epoch 25/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4378 - accuracy: 0.7886
Epoch 26/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4376 - accuracy: 0.7886
Epoch 27/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4372 - accuracy: 0.7887
Epoch 28/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4357 - accuracy: 0.7899
Epoch 29/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4361 - accuracy: 0.7895
Epoch 30/125
804/804 [==============================] - 1s 2ms/step - loss: 0.4348 - accuracy: 0.7893
Epoch 31/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4347 - accuracy: 0.7912
Epoch 32/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4346 - accuracy: 0.7882
Epoch 33/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4336 - accuracy: 0.7898
Epoch 34/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4335 - accuracy: 0.7904
Epoch 35/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4333 - accuracy: 0.7903
Epoch 36/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4331 - accuracy: 0.7899
Epoch 37/125
804/804 [==============================] - 1s 2ms/step - loss: 0.4328 - accuracy: 0.7905
Epoch 38/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4325 - accuracy: 0.7901
Epoch 39/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7896
Epoch 40/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4328 - accuracy: 0.7895
Epoch 41/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7899
Epoch 42/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4317 - accuracy: 0.7904
Epoch 43/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4314 - accuracy: 0.7928
Epoch 44/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4318 - accuracy: 0.7916
Epoch 45/125
804/804 [==============================] - 1s 2ms/step - loss: 0.4310 - accuracy: 0.7907
Epoch 46/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4307 - accuracy: 0.7909
Epoch 47/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4310 - accuracy: 0.7909
Epoch 48/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7916
Epoch 49/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7914
Epoch 50/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7909
Epoch 51/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4303 - accuracy: 0.7922
Epoch 52/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7910
Epoch 53/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7913
Epoch 54/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7930
Epoch 55/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7917
Epoch 56/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4303 - accuracy: 0.7914
Epoch 57/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7913
Epoch 58/125
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7912
Epoch 59/125
804/804 [==============================] - 3s 4ms/step - loss: 0.4297 - accuracy: 0.7920
Epoch 60/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4299 - accuracy: 0.7908
Epoch 61/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7913
Epoch 62/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7924
Epoch 63/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7929
Epoch 64/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7935
Epoch 65/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7919
Epoch 66/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4291 - accuracy: 0.7927
Epoch 67/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4289 - accuracy: 0.7924
Epoch 68/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7931
Epoch 69/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4293 - accuracy: 0.7917
Epoch 70/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7921
Epoch 71/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7916
Epoch 72/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7924
Epoch 73/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7932
Epoch 74/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7916
Epoch 75/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4292 - accuracy: 0.7920
Epoch 76/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4287 - accuracy: 0.7932
Epoch 77/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7933
Epoch 78/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7910
Epoch 79/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7923
Epoch 80/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7921
Epoch 81/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7913
Epoch 82/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4285 - accuracy: 0.7925
Epoch 83/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4281 - accuracy: 0.7915
Epoch 84/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7937
Epoch 85/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4284 - accuracy: 0.7933
Epoch 86/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7937
Epoch 87/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7935
Epoch 88/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7923
Epoch 89/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7924
Epoch 90/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7932
Epoch 91/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7931
Epoch 92/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4278 - accuracy: 0.7928
Epoch 93/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7923
Epoch 94/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7929
Epoch 95/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7926
Epoch 96/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7935
Epoch 97/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7927
Epoch 98/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7926
Epoch 99/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7934
Epoch 100/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4276 - accuracy: 0.7932
Epoch 101/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4278 - accuracy: 0.7937
Epoch 102/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7923
Epoch 103/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4276 - accuracy: 0.7919
Epoch 104/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7923
Epoch 105/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7930
Epoch 106/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7923
Epoch 107/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7931
Epoch 108/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7933
Epoch 109/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4275 - accuracy: 0.7927
Epoch 110/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7925
Epoch 111/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7937
Epoch 112/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7934
Epoch 113/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4266 - accuracy: 0.7938
Epoch 114/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7925
Epoch 115/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7924
Epoch 116/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4311 - accuracy: 0.7919
Epoch 117/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4305 - accuracy: 0.7926
Epoch 118/125
804/804 [==============================] - 2s 3ms/step - loss: 0.4307 - accuracy: 0.7927
Epoch 119/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7930
Epoch 120/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7925
Epoch 121/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4305 - accuracy: 0.7916
Epoch 122/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4312 - accuracy: 0.7915
Epoch 123/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7921
Epoch 124/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4305 - accuracy: 0.7919
Epoch 125/125
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7920

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4647 - accuracy: 0.7743 - 480ms/epoch - 2ms/step
Loss: 0.46472135186195374, Accuracy: 0.7743440270423889

In [21]:
# Export our model to HDF5 file
from google.colab import files

nn.save("AlphabetSoupCharity_Optimization_final.h5")
files.download('AlphabetSoupCharity_Optimization_final.h5')